*{
    padding: 0;
    margin: 0;
}

body,html{
    height: 100%;
    width: 100%;
}

body{
    font-family: Arial, sans-serif;;
    display: flex;
    flex-direction: column;
    align-items: center;}

#cabecera{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 20%;
    background-color: black;
    color: white;
    font-style: italic;
    & header{
        color: gold;
        font-style: italic;
        & h3, h4{
            color: white;
        }
    }
    & img{
        height: 70px;
        width: 70px;
    }
    & .sub-encabezado{
        display: flex;
        text-align: center;
        font-size: 15px;
    }
    & nav{
        font-size: 15px;
        align-items: center;
        width: 50%;
        & ul{
            height: 100%;
            display: flex;
            justify-content: space-around;
            align-items:center;
            list-style-type: none;
            color: white;  
            & li{           
                font-weight: bold;
                transition: transform 0.3s;
                &  a{
                    text-decoration: none;
                    color: white;
                    transition: transform 0.3s;
                }
                
            }
        }
    }
}


li:hover{
    cursor: pointer;
    color: gold;
    transform: scale(1.1);
}

#cabecera nav ul li a:hover {
    cursor: pointer;
    color: gold;
    transform: scale(1.1);
}


#contenido{
    height: auto;
    width: 70%;
    box-shadow: 10px 10px 10px -10px gold;
    border: 2px solid gold;
    border-radius: 20px;
    text-align: center;
    margin: 10px;
    background-color:rgb(0, 0, 0);
    & header{
        font-family:cursive;
        font-style: italic;
        height: auto;
        margin: 10px;
        border-radius: 20px;
        background-color: rgb(0, 0, 0);
        color: gold;
        border: 2px solid white;
        & h2{
            margin: 10px;
            font-weight: bold;
        }
    }
}

#secciones{
    height: auto;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    flex-grow: 1;
    & .caja1{
        text-align: center;
        width: 325px;
        margin: 10px;
        border-radius: 20px;
        background-color:linen;
        border: 2px solid gold;
        & img{
            width: 125px;
            height: 125px;
            padding: 5px;
            justify-items: center;
            border: 1px solid white;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
            border-radius: 5px;
            background-color: rgba(255, 255, 255, 0.7);
        }
    & h2{
        -webkit-text-stroke: 1.5px black;
        color: gold;
    }
    }


}
@media screen and (max-width:700px){
    nav ul{
        flex-direction: column;
    }
}


#piePagina{
    text-align: center;
    padding: 20px;
    background: #000;  
    margin-top: 10px;
    height: 130px;
    width: 100%;
    color: white;
    & img{
        margin: 10px;
    }
    & a{
        text-decoration: none;
        color: white;
        margin: 10px;
    }
    & h2{
        margin: 10px;
    }
}



.botonLogin {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    & img{
        height: 30px;
        width: 30px;
    }
  }

  
@media screen and (max-width:1200px){
    #cabecera{
        height: 300px;
    }
    nav ul{
        display: flex;
        flex-direction: column;
    }

    .order{
        display: flex;
        flex-direction: column;
        
    }
    
}
