*{
    padding: 0;
    margin: 0;
}

body,html{
    height: 100%;
    width: 100%;
}

body{
    font-family:cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cabecera{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 20%;
    background-color: black;
    color: white;
    font-style: italic;
    & header{
        color: gold;
        font-style: italic;
        & h3, h4{
            color: white;
        }
    }
    & img{
        height: 70px;
        width: 70px;
    }
    & .sub-encabezado{
        display: flex;
        text-align: center;
        font-size: 15px;
    }
    & nav{
        font-size: 15px;
        align-items: center;
        width: 50%;
        & ul{
            height: 100%;
            display: flex;
            justify-content: space-around;
            align-items:center;
            list-style-type: none;
            color: white;  
            & li{           
                font-weight: bold;
                transition: transform 0.3s;
                &  a{
                    text-decoration: none;
                    color: white;
                    transition: transform 0.3s;
                }
                
            }
        }
    }
}


li:hover{
    cursor: pointer;
    color: gold;
    transform: scale(1.1);
}

#cabecera nav ul li a:hover {
    cursor: pointer;
    color: gold;
    transform: scale(1.1);
}



@media screen and (max-width:1200px){
    #cabecera{
        height: 300px;
    }
    nav ul{
        display: flex;
        flex-direction: column;

    }
    .order{
        display: flex;
        flex-direction: column;
        
    }
}


#piePagina {
    text-align: center;
    background: #000;
    height: 200px; /* Aumenta la altura del footer */
    width: 100%;
    color: white;
    & img {
        padding-top: 10px;
    }
    & a {
        text-decoration: none;
        color: white;
        margin: 10px;
    }
    & h2 {
        margin: 10px;
    }
}


#image{
    font-size: 20px;
    width: 100%;
    -webkit-text-stroke: 1.5px white;
    color: white;
    & a{
        text-decoration: none;
        padding: 5px;
        border: none;
        border-radius: 10px;
        background-color: gold;
        font-weight: 900;
        color: black;
        transition: transform 0.3s;
        -webkit-text-stroke: 1.5px black;
    }
}

.sub-contenido{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.botonLogin {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    & img{
        height: 30px;
        width: 30px;
    }
  }


section{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 150px;
    height: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & .order{
        display: flex;
        justify-content: space-between;
        width: 80%;
    }
    & header{
        display: inline-flex;
        -webkit-text-stroke: 1.5px black;
        color: gold;
        font-style: italic;
        font-weight: 800;
        font-size: large;
        margin: 30px;
    }
    & p{
        border: none;
        border-radius: 10px;
        padding: 20px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5), -5px -5px 10px rgba(0, 0, 0, 0.5);
        font-size: 18px;
        text-align: justify;
        height: 180px;
        width: 500px;
        margin: 30px;
        color:#222 ;
    }
    & img{
        margin: 30px;
        border-radius: 10px;
        box-shadow: 10px 10px 10px -5px black;
        height: 350px;
        width: 350px;
    } 
    & .order2{
        width: 100%;
        text-align: center;
        & p{
            display: inline-block;
            height: auto;
            width: 600px;
        }
    }
    & span{
        font-weight: 900;
        font-style: italic;
    }
}
