
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

#container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 24px;
}


#formularioProductos {
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

#mensaje {
    text-align: center;
    color: #000;
    margin-top: 10px;
}


#tablaProductos {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#tablaProductos th, #tablaProductos td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

#tablaProductos th {
    background-color: #333;
    color: #fff;
}

#tablaProductos tr:nth-child(even) {
    background-color: #f2f2f2;
}


#sidebar {
    float: left;
    width: 200px;
    background-color: #333;
    color: #fff;
    padding: 20px;
    border-right: 1px solid #555;
}

#sidebar ul {
    list-style: none;
    padding: 0;
}

#sidebar ul li {
    margin-bottom: 10px;
}

#sidebar ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
}


#content {
    float: right;
    width: calc(100% - 220px);
    padding: 20px;
}


#limpia {
    background-color: #ccc;
    color: #333;
}

.custom-button {
    position: absolute;
    left: 30px;
    background-color: #222; 
    color: #fff; 
    padding: 10px 20px; 
    text-decoration: none; 
    border: 1px solid #222;
    border-radius: 5px; 
    display: inline-block;
    transition: background-color 0.3s, color 0.3s; 
}

.custom-button:hover {
    background-color: white; 
    color: black;
}